<div class="center-form-container">
  <form [formGroup]="interventionForm" (ngSubmit)="onSubmit()" class="intervention-form">
    <div class="inputs-container">
      <mat-form-field appearance="fill">
        <mat-label>DNI</mat-label>
        <input matInput formControlName="dni">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Client</mat-label>
        <input matInput formControlName="client">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>License plate</mat-label>
        <mat-select formControlName="licensePlate">
          <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.licensePlate">
            {{ vehicle.licensePlate }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Brand</mat-label>
        <input matInput formControlName="brand">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Model</mat-label>
        <input matInput formControlName="model">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Modality</mat-label>
        <mat-select formControlName="modality">
          <mat-option value="REPARATION">Reparation</mat-option>
          <mat-option value="MAINTENANCE">Maintenance</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Scheduled date</mat-label>
        <input matInput type="date" formControlName="scheduledDate">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Lead mechanic</mat-label>
        <mat-select formControlName="leadMechanic">
          <mat-option *ngFor="let mechanic of mechanics" [value]="mechanic.firstName + ' ' + mechanic.lastName">
            {{ mechanic.firstName }} {{ mechanic.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>

    <div class="button-container">
      <button mat-fab color="primary" type="submit">
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </form>
</div>
