<section class="container">
  <h1>{{ 'CLIENTS' | translate }}</h1>
  <div class="header">
    <mat-form-field>
      <mat-label>{{ 'FILTER' | translate }}</mat-label>
      <input matInput (keyup)="applyFilter($event)" [placeholder]="'SEARCH' | translate" #input>
    </mat-form-field>
    <button class="button-new-client" mat-raised-button color="primary" (click)="openNewClientDialog()">
      {{ 'NEW_CLIENT' | translate }}
    </button>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ID' | translate }}</th>
        <td mat-cell *matCellDef="let data">
          <button mat-button [routerLink]="['/clients', data.id]">{{ data.id }}</button>
        </td>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'NAME' | translate }}</th>
        <td mat-cell *matCellDef="let data">{{ data.firstName }}</td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'LAST_NAME' | translate }}</th>
        <td mat-cell *matCellDef="let data">{{ data.lastName }}</td>
      </ng-container>
      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'DOCUMENT_NUMBER' | translate }}</th>
        <td mat-cell *matCellDef="let data">{{ data.dni }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'EMAIL' | translate }}</th>
        <td mat-cell *matCellDef="let data">{{ data.email }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">{{ 'NO_DATA_MATCHING_FILTER' | translate }} "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10,15]"></mat-paginator>
  </div>
</section>
