<h2 mat-dialog-title>{{ 'NEW_CLIENT_REGISTRATION' | translate }}</h2>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>{{ 'FIRST_NAME' | translate }}</mat-label>
      <input matInput [placeholder]="'ENTER_FIRST_NAME' | translate">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'PATERNAL_SURNAME' | translate }}</mat-label>
      <input matInput [placeholder]="'ENTER_PATERNAL_SURNAME' | translate">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'MATERNAL_SURNAME' | translate }}</mat-label>
      <input matInput [placeholder]="'ENTER_MATERNAL_SURNAME' | translate">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'DOCUMENT_TYPE' | translate }}</mat-label>
      <mat-select>
        <mat-option value="dni">{{ 'DNI' | translate }}</mat-option>
        <mat-option value="passport">{{ 'PASSPORT' | translate }}</mat-option>
        <mat-option value="other">{{ 'OTHER' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'DOCUMENT_NO' | translate }}</mat-label>
