<h1 mat-dialog-title class="modal-title">{{ 'EDIT' | translate }}</h1>

<div mat-dialog-content class="modal-content">
  <section class="form-section">
    <h2>{{ 'NAME' | translate }}</h2>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="item.name">
    </mat-form-field>
  </section>

  <section class="form-section">
    <h2>{{ 'TYPE' | translate }}</h2>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="item.productType.name">
    </mat-form-field>
  </section>

  <section class="form-section">
    <h2>{{ 'AMOUNT' | translate }}</h2>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="item.amount">
    </mat-form-field>
  </section>

  <section class="form-section">
    <h2>{{ 'LIMIT' | translate }}</h2>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="item.limit">
    </mat-form-field>
  </section>
</div>

<div mat-dialog-actions class="modal-actions">
  <button mat-button color="warn" (click)="onConfirm()">{{ 'CONFIRM' | translate }}</button>
  <button mat-button (click)="onCancel()">{{ 'CANCEL' | translate }}</button>
</div>
