<section class="intervention-container p-4">
  <h2 class="section-title">Interventions</h2>
  <div class="justify-buttons">
    <button mat-raised-button color="primary">+ Schedule intervention</button>
  </div>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter interventions" />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Client First Name -->
      <ng-container matColumnDef="clientFirstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Client First Name</th>
        <td mat-cell *matCellDef="let intervention"> {{ intervention.clientFirstName }} </td>
      </ng-container>

      <!-- Client Last Name -->
      <ng-container matColumnDef="clientLastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Client Last Name</th>
        <td mat-cell *matCellDef="let intervention"> {{ intervention.clientLastName }} </td>
      </ng-container>

      <!-- Vehicle License Plate -->
      <ng-container matColumnDef="licensePlate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vehicle License Plate</th>
        <td mat-cell *matCellDef="let intervention"> {{ intervention.licensePlate }} </td>
      </ng-container>

      <!-- Vehicle Model -->
      <ng-container matColumnDef="vehicleModel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vehicle Model</th>
        <td mat-cell *matCellDef="let intervention"> {{ intervention.vehicleModel }} </td>
      </ng-container>

      <!-- Registration Date -->
      <ng-container matColumnDef="registrationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Registration Date</th>
        <td mat-cell *matCellDef="let intervention"> {{ intervention.registrationDate | date }} </td>
      </ng-container>

      <!-- Completion Date -->
      <ng-container matColumnDef="completionDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Completion Date</th>
        <td mat-cell *matCellDef="let intervention"> {{ intervention.completionDate | date }} </td>
      </ng-container>

      <!-- State -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let intervention"> {{ intervention.state }} </td>
      </ng-container>

      <!-- Table Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let intervention; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</section>
