<section class="intervention-container p-4">
  <h2 class="section-title">
    {{ 'INTERVENTIONS' | translate }}
  </h2>
  <div class="justify-buttons">
    <div class="filters mb-4 flex gap-4">
      <button mat-button (click)="filterByStatus('PENDING')" [ngClass]="{'p-button-active': isActiveFilter('PENDING')}">{{ 'PENDING' | translate }}</button>
      <button mat-button (click)="filterByStatus('IN_PROGRESS')" [ngClass]="{'p-button-active': isActiveFilter('IN_PROGRESS')}">{{ 'IN_PROGRESS' | translate }}</button>
      <button mat-button (click)="filterByStatus('COMPLETED')" [ngClass]="{'p-button-active': isActiveFilter('COMPLETED')}">{{ 'COMPLETED' | translate }}</button>
      <button mat-button (click)="filterByStatus('ALL')" [ngClass]="{'p-button-active': isActiveFilter('ALL')}">{{ 'ALL' | translate }}</button>
    </div>
    <button mat-raised-button color="primary" (click)="openDialog()">+ {{ 'SCHEDULE_INTERVENTION' | translate }}</button>
  </div>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="{{ 'FILTER_INTERVENTIONS' | translate }}" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Client First Name -->
      <ng-container matColumnDef="clientFirstName">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CLIENT_FIRST_NAME' | translate }} </th>
        <td class="mat-cell" mat-cell *matCellDef="let intervention"> {{ intervention.vehicle.owner.firstName }} </td>
      </ng-container>

      <!-- Client Last Name -->
      <ng-container matColumnDef="clientLastName">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'CLIENT_LAST_NAME' | translate }} </th>
        <td class="mat-cell" mat-cell *matCellDef="let intervention"> {{ intervention.vehicle.owner.lastName }} </td>
      </ng-container>

      <!-- Vehicle License Plate -->
      <ng-container matColumnDef="licensePlate">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'VEHICLE_LICENSE_PLATE' | translate }} </th>
        <td class="mat-cell" mat-cell *matCellDef="let intervention"> {{ intervention.vehicle.licensePlate }} </td>
      </ng-container>

      <!-- Vehicle Model -->
      <ng-container matColumnDef="vehicleModel">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'VEHICLE_MODEL' | translate }} </th>
        <td class="mat-cell" mat-cell *matCellDef="let intervention"> {{ intervention.vehicle.model }} </td>
      </ng-container>

      <!-- Registration Date -->
      <ng-container matColumnDef="registrationDate">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'REGISTRATION_DATE' | translate }} </th>
        <td class="mat-cell" mat-cell *matCellDef="let intervention"> {{ intervention.registrationDate | date }} </td>
      </ng-container>

      <!-- Completion Date -->
      <ng-container matColumnDef="completionDate">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'COMPLETION_DATE' | translate }} </th>
        <td class="mat-cell" mat-cell *matCellDef="let intervention"> {{ intervention.completionDate ? (intervention.completionDate | date) : 'N/A' }} </td>
      </ng-container>

      <!-- Status -->
      <ng-container matColumnDef="state">
        <th class="mat-header-cell" mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'STATUS' | translate }} </th>
        <td class="mat-cell" mat-cell *matCellDef="let intervention"> {{ mapStateToString(intervention.state) }} </td>
      </ng-container>

      <!-- Table Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="mat-cell" mat-row *matRowDef="let intervention; columns: displayedColumns;"></tr>

      <!-- No Data Row -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="7">{{ 'NO_DATA_MATCHING_FILTER' | translate }} "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator class="mat-header-cell" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of interventions"></mat-paginator>
  </div>
</section>
