<mat-toolbar>
  <div class="center">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My workshop</span>
  </div>
  <a href="">What's new</a>
  <a href="" class="center space">
    <span>Help</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </a>
  <div class="profile center">
    <mat-icon></mat-icon>
    <div class="center space">
      <span>Account</span>
      <mat-icon>account_circle</mat-icon>
    </div>
  </div>
</mat-toolbar>
