<main class="container">
  <mat-stepper
    class="content"
    labelPosition="bottom"
    (selectionChange)="onStepChange($event)"
  >
    <mat-step label="Information">
      <div class="end">
        <button mat-button matStepperNext>Next</button>
      </div>
      <div>
        <app-activity-information/>
      </div>
    </mat-step>
    <mat-step *ngIf="type === 'leader'" label="Diagnostic and preparation">
      <div class="justify">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
      <div>
        <app-activity-diagnostic-preparation/>
      </div>
    </mat-step>
    <mat-step label="Execution">
      <div class="justify">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
      <div>
        <app-activity-execution #execution/>
      </div>
    </mat-step>
    <mat-step *ngIf="type === 'leader'" label="Supervision">
      <div class="justify">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button>Finish</button>
      </div>
      <div>
        <app-activity-monitoring #supervision/>
      </div>
    </mat-step>
  </mat-stepper>
</main>
